body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 10vh repeat(1, 500px) 250px 1fr 50vh;
    background-color: lightgray;
}

.menu {
    display: flex;
    background-color: #003147;
    position: sticky;
    top: 0;
    grid-column: 1 / 6;
    justify-content: space-between;
    width: 100%;
    z-index: 3;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo > img {
    height: 70%;
    padding: 0.7vh;
    margin-left: 1vh;
}

.textMenu {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
    padding: 1vh;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 2px 4px 1px #000000;
    font-weight: bold;
}

.textMenu:hover {
    text-shadow: none;
}

.menuItens {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menuItens > li {
    display: flex;
}

.camara {
    grid-column: 1 / 6;
    grid-row: 2 / 3;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.camara > img {
    position: relative;
    width: 100%;
    height: 100%;
    
}

.camaraDeputados {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blackBoard {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.808);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) , rgba(88, 88, 88, 0.5) 100%);
    justify-content: center;
    align-items: center;
}

.titlesH1 {
    color: white;
    padding: 1vh;
    text-transform: uppercase;
    font-size: 8vh;
    font-weight: bold;
}

.h4Sub {
    color: white;
    padding: 1vh;
    text-shadow: 1vh 3vh 2vh #000000;
    font-weight: 100;
    font-size: 4vh;
}

.btnRound {
    display: flex;
    padding: 2.5vh 4vh;
    color: white;
    font-weight: 100;
    font-size: 3vh;
    background-color: #003147;
    border-radius: 1vh;
    box-shadow: 0.8vh 1.8vh 3vh black;
}

.btnRound, .h4Sub, .titlesH1, .subTitle, .subDesc, .simpleBtn {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
    text-decoration: none;
}

.btnRound:hover {
    box-shadow: none;
}

.main {
    grid-column: 1 / 6;
}

#deputados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subTitle {
    text-transform: uppercase;
    color: #003147;
}

.subDesc {
    color: rgb(97, 97, 97);
    font-weight: 100;
}

.align {
    margin-top: 15vh;
    margin-bottom: 5vh;
}

#inputDep {
    margin: 2vh;
    width: 30%;
    height: 4vh;
}

.simpleBtn {
    display: flex;
    padding: 1.3vh;
    width: 29.4%;
    color: white;
    font-weight: 100;
    font-size: 3vh;
    background-color: #003147;
    border-radius: 0.5vh;
    justify-content: center;
}

#deputadosList {
    grid-column: 1 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5vh 20vh;
    margin-bottom: 0vh;
}

.cardDeputado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 30vh;
    margin: 3vh;
    border: grey solid 2px;
    text-align: center;
}

.cardDeputado > img {
    width: 100%;
    
}

.cardDeputado > ul {
    width: 80%;
}

.mgT {
    margin: 1vh;
}

#partidos {
    grid-column: 1 / 6;
}

#searchPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inputPart {
        margin: 2vh;
        width: 30%;
        height: 4vh;
}

.container {
    grid-column: 1 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partidoCard {
    border: solid 4px;
    text-align: center;
    margin: 1vh;
}

#bancadas {
    grid-column: 1 / 6;
}

#searchBanc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bancadasTab {
    grid-column: 1 / 6;
    display: flex;
}
