

.imgLogo {
    height: 7vh;
    margin: 1vh; 
}

.menuBox {
    background-color: #003147;
    position: fixed;
    width: 100%;
}

.menuBox > span, h1, a {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
    padding: 1vh;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 2px 4px 1px #000000;

}

.logo > span, h1, a {
    display: inline-block;
    padding: 0.1em;
    vertical-align: middle;
}

.menuUl-r > li, a:hover {
text-shadow: none;
}

.logo {
    display: inline-block;
}

.menuUl-r {
    float: right;
    margin-top: 3vh;
    color: white;
}

.menuUl-r > li {
    display: inline-block;
}

.imgPlenario {
    width: 100%;
}


